<div id="content">
  <h1>{{ title }}</h1>
  <h2>Your Grade is: {{ grade }}</h2>
</div>

<div id="myswitch" [ngSwitch]="true">
  <div *ngSwitchCase="(grade >= 90 && grade <= 100) ">Your grade is a {{grade}}, which is an: <b>A</b> </div>
  <div *ngSwitchCase="grade >= 80 && grade <= 89">Your grade is a {{grade}}, which is a: <b>B</b> </div>
  <div *ngSwitchCase="grade >= 70 && grade <= 79">Your grade is a {{grade}}, which is a: <b>C</b> </div>
  <div *ngSwitchCase="grade >= 60 && grade <= 69">Your grade is a {{grade}}, which is a: <b>D</b> </div>
  <div *ngSwitchCase="grade >= 20 && grade <= 59">Your grade is a {{grade}}, which is a: <b>F</b> </div>
  <div *ngSwitchDefault="x">Below 20</div>
</div>

<div>
  <input type="text" name="" id="creditcard" [(ngModel)]="creditCardInput">
  <img appDispayCCLogo [creditCardImg]="creditCardInput" src="" alt="" width="250">
</div>
